* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.5px;
  font-size: 13px;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.5;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.sell-btn {
  background-color: rgb(230, 70, 70);
  border: none;
  color: #fff;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.2s;
}

.sell-btn:hover {
  scale: 1.05;
  cursor: pointer;
  background-color: rgb(230, 100, 100);
}
