@media screen and (max-width: 1250px) {
  .info .info-content {
    width: 300%;
    margin: 0;
    overflow-x: hidden;
    justify-content: space-around;
    transition: 1s;
  }
  .info #nav-manual,
  #nav-auto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .steps #s-nav-manual,
  #s-nav-auto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .steps .steps-content #steps-cards {
    width: 400%;
    margin: 0;
    overflow-x: hidden;
    justify-content: space-around;
    transition: 1s;
  }

  .footer .footer-content .footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .info .info-content .third {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #radio5:checked ~ .steps-content .steps-cards {
    transform: translateX(0);
  }
  #radio6:checked ~ .steps-content .steps-cards {
    transform: translateX(-25%);
  }
  #radio7:checked ~ .steps-content .steps-cards {
    transform: translateX(-50%);
  }
  #radio8:checked ~ .steps-content .steps-cards {
    transform: translateX(-75%);
  }

  #radio5:checked ~ #s-nav-auto .btn-5 {
    background-color: rgb(230, 70, 70);
  }
  #radio6:checked ~ #s-nav-auto .btn-6 {
    background-color: rgb(230, 70, 70);
  }
  #radio7:checked ~ #s-nav-auto .btn-7 {
    background-color: rgb(230, 70, 70);
  }
  #radio8:checked ~ #s-nav-auto .btn-8 {
    background-color: rgb(230, 70, 70);
  }

  #radio1:checked ~ .info-content {
    transform: translateX(0);
  }
  #radio2:checked ~ .info-content {
    transform: translateX(-33.3%);
  }
  #radio3:checked ~ .info-content {
    transform: translateX(-66%);
  }

  #radio1:checked ~ #nav-auto .btn-1 {
    background-color: rgb(230, 70, 70);
  }
  #radio2:checked ~ #nav-auto .btn-2 {
    background-color: rgb(230, 70, 70);
  }
  #radio3:checked ~ #nav-auto .btn-3 {
    background-color: rgb(230, 70, 70);
  }
}

@media screen and (max-width: 1080px) {
  .header .main-head {
    height: 80px;
  }

  .header .car-sell {
    margin-top: 30px;
    flex-direction: column;
  }

  .header .car-sell .sell-info {
    width: 330px;
    padding-right: 0;
    text-align: center;
    margin: 0;
  }

  .header .car-sell .sell-info p {
    margin: 25px 30px;
  }

  .header .car-sell .sell-info img {
    width: 80%;
    transform: translateY(-190px);
    margin-bottom: 30px;
  }

  .header .car-sell .sell-info .sell-subdiv {
    transform: translateY(280px);
  }
  .payments .payments-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payments .payments-content .verified {
    justify-content: center;
    width: 80%;
  }
  .payments .payments-content .verified .text {
    margin-left: 0;
  }

  .payments .payments-content .verified:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
    border-right: none;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .payments .payments-content .verified:not(:first-child) {
    padding-top: 20px;
  }
  .footer-content .footer-navigation .navigation__footer-navigation {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-navigation .navigation__footer-navigation .footer-img {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .header,
  .questions {
    width: 95%;
  }

  .header .main-head .head-content #logo {
    width: 180px;
  }
  .info,
  .steps-content,
  .opinions,
  .payments,
  .footer {
    width: 100%;
  }
  .header .main-head button .uil {
    display: none;
  }

  .header .main-head .advertise {
    width: 90px;
  }
  .payments .payments-content .verified {
    width: 95%;
    flex-direction: column;
  }
  .payments .payments-content .verified {
    text-align: center;
  }
  .payments .payments-content .verified .text {
    margin: 0;
  }
  .payments .payments-content .verified .verisign {
    margin-bottom: 20px;
  }
  .payments .payments-content .verified .cards {
    margin-top: 20px;
  }
}
